.Header{
    display: flex;
    height: 50px;
    background-color: #0dcaf0;
}
.HeaderTab{
    width: max-content;
    margin: auto 1vh auto 0;
    align-items: center;
}
.sideBar{
    width: 35vh;
    height: 90vh;
    position: absolute;
    top: 50px;
    left: 0;
    background-color:#f8f9fa;
}
.area{
    margin: 0 0 0 35vh;
    width: 110vh;
    height: 90vh;
    background: rgb(219, 219, 219);
}
