.Header{
    display: block;
    height: 98vh;
    background-color: #3AAFA9 ;
}
.HeaderTab{
    width: 3vw;
    margin: 0 auto;
    align-items: center;
}
.headerSide{
    width: 4vw;
    min-width: 45px;
}
.barDiv{
    width: 300px;
}
.sideBar{
    background-color:#FEFFFF;
    border-right: 0.5px solid #17252A;
    border-left: 0.5px solid #17252A;
    display: flex;
    flex-basis: 17vw;
}
.area{

}
.maxArea{
    min-width: 96vw;
}
.minArea{
    min-width: 80vw;
}
.main{
    display: flex;
    width: 100VW;
    max-height: 900px;
}
.closeTab{
    position: absolute;
    bottom: 30px;
}