.modalWrapper{
    background: #a0a0a0a1;
    position: absolute;
    pointer-events: all;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
.modal{
    background-color: #FEFFFF;
    width: 400px;
    height: 600px;
    margin: 200px auto 0;
    z-index: 11;
}
.modalRow{
    height: 50px;
    display: block;
}
.block{
    display: block;
    margin: 5px auto 5px;
}