.numberInput{
    margin: 5px 0 0 0;
    height: 20px;
    width: 40px;
}
label {
    display: block;
  }
  
.flex{
    display: flex;
}
.kernelCard{
    border-bottom: 1px solid black;
}
.forcesWrapper{
    border-bottom: 1px solid black;
}
.loadWrapper{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 0 10px 0;
}
p{
    margin: 0;
}