.numberInput{
    margin: 5px 0 0 0;
    height: 20px;
    width: 40px;
}
label {
    display: block;
  }
  
.flex{
    display: flex;
}
.kernelCard{
    border-bottom: 1px solid #17252A;
}
.forcesWrapper{
    border-bottom: 1px solid #17252A;
    min-height: 35px;
}
.loadWrapper{
    border-top: 1px solid #17252A ;
    padding: 10px 0 10px 0;   
}

.black{
    background-color: black;
}
.select{
    background-color: rgb(110, 110, 110);
}
.rodsLabel{
    min-height: 40px;
    border-bottom: 1px solid #17252A;   
}
.a{
    justify-content: space-around;
}
.nodeParams{
    border-top: 1px solid #17252A;
    min-height: 30px;
}